pool/*.db
pool/*.db-*
*.imp_meta
*.autosave
*.bak
*/3d_models/*
fabrication_output/

# gitignore template for LTspice
# website: https://www.analog.com/en/design-center/design-tools-and-calculators/ltspice-simulator.html
# Logfile
*.log
# Simulation Outputs
*.raw
*.fft
# Netlist
*.net
